@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

@layer base {
  @font-face {
    font-family: "PP Neue Machina Inktrap";
    font-style: normal;
    src: url("/fonts/PPNeueMachina-InktrapRegular.otf") format("opentype");
  }
  @font-face {
    font-family: "HassGrotesk";
    font-style: normal;
    src: url("/fonts/neuehaasgrotdispround-65medium-trial.otf") format("opentype");
  }
}